.form-container {
    width: 35%;
    min-height: 91vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--lighText);
}

.form-label {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
}

.text-input {
    width: 100%;
    height: 3rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.8rem;
}

.text-input-big {
    width: 100%;
    height: 10rem;
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 0.8rem;
}

.submit-button {
    background-color: rgb(62, 128, 190);
    border: none;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.5rem 0.7rem rgb(24, 24, 24);
    padding: 1rem 1.5rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: 0.3s ease-in-out;
    color: var(--darkText);
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.submit-button:hover {
    color: var(--lighText);
    transform: scale(1.1);
    background-color: rgb(27, 52, 78);
    box-shadow: 0.2rem 0.5rem 1rem rgb(0, 0, 0);
}

.invisible {
    display: none;
}