.background {
    width: 100%;
    height: 12rem;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0rem 0.1rem 0.7rem rgb(0, 0, 0);

}

.texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phone-number {
    font-size: 2rem;
}

.email-address {
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 800px) {
    .background {
        display: flex;
        flex-direction: column;
        min-height: 35vh;
    }

    .texts {
        padding-top: 1rem;
    }

    .link {
        width: 50%;
    }
}