.footer-wraper {
    width: 100%;
    height: 40vh;
    max-height: 20rem;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--darkText);
    box-shadow: 0rem 0.1rem 1rem rgb(0, 0, 0);
    background-color: #1d1b1b;
    overflow: hidden;
}

/* Social Section */

.footer-social {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.footer-social a {
    text-decoration: none;
    color: rgb(52, 52, 52);
}

.footer-social i {
    font-size: 2rem;
    padding: 0 1rem;
    transition: 0.3s ease-in-out;
}

.insta-icon:hover {
    color: #df5a85;
    transform: scale(1.2);
    cursor: pointer;
}

.facebook-icon:hover {
    color: #4267B1;
    transform: scale(1.2);
    cursor: pointer;
}

.tiktok-icon:hover {
    color: #00f1ea;
    transform: scale(1.2);
    cursor: pointer;
}

/* Nav Section */

.footer-nav {
    width: 50%;
    padding: 1rem 0;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link {
    padding: 0 1rem;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    color: rgb(52, 52, 52);
    transition: 0.2s ease-in-out;
}

.footer-link:hover {
    color: rgb(129, 129, 129);
    transform: scale(1.1);
}

/* Contsct Section */

.footer-contact {
    display: flex;
    color: rgb(129, 129, 129);
    filter: brightness(60%);
}

.footer-contact-phone,
.footer-contact-email {
    display: flex;
    align-items: flex-end;
    margin: 0 1rem;
}

.footer-contact-title {
    margin: 0 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}

/* Legal stuff */

.footer-wraper p {
    padding: 1rem 0;
}